.App {
  text-align: center;

}
html, body {
  height: 100%;
  width: 100%;
}

form {
  display: inline-block; /* centers form*/
  background-color: rgb(139 92 246); /*rgb(139 92 246);*/
  color:white;
  
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
}

label {
  display: flex;
  margin-top: 5px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
}

.error{
  color: rgb(2, 0, 0);
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.section-row {
  display: flex;
  width: 100%;
}
.section-row div {
  display: flex;
  margin-bottom: 0.5rem;
  margin-left: 5px;
}
.section-row div:first-child {
  width: 50%;
}
.section-row div:last-child {
  width: 50%;
}
button{
  float: right;
  color: rgb(18, 223, 93);
}
